h1{
text-align: center}

.connect-button {
  display: block;
  margin: auto;
}

div {
    background: rgba(255, 255, 255, 0.9); /* Set the background color with some transparency */
    margin: auto;
    width: 60%;
    padding: 70px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

p{
text-align: center}


.button-container {
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  margin: 20px auto;
}

.prompt-button, .mint-button {
  display: inline-block;
  margin: 10px; /* Add some space between buttons */
}